
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}


@if (Session["user"] == null)
{
    <h2>Admin index</h2>

    <hr />
    <p>@Html.ActionLink(@Resource.LoginPlease, "Index", "Login")</p>
}
else
{
    if (Session["Role"].ToString() == "Admin")
    {
    <h2>Welcome , @Session["user"]</h2>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @ViewBag.Message
                    </div>
                </div>
            </div>

            @Html.EJS().Calendar("calendar").Render()
           

        }
    }
}