<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Time Track</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/ej2/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/ej2/ej2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(WebUi.Resource.Home, "Index", "Client", new {area = ""}, new {@class = "navbar-brand"})
            </div>

            <div class="navbar-collapse collapse">

                @if (Session["User"] != null && Session["Role"].ToString() == "Client")
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(WebUi.Resource.Projects, "ProjectList", "Project")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(Session["User"].ToString(), "Index", "Client")</li>
                        <li>@Html.ActionLink(WebUi.Resource.LogOut, "Logout", "Login")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Time Track</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    @Html.EJS().ScriptManager()
</body>
</html>


