@model WebUi.Model.Client.ClientDetailsViewModel
@{
    ViewBag.Title = "DetailsClient";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}

@if (Session["user"] == null)
{
    <p>@Html.ActionLink(@Resource.LoginPlease, "Index", "Login")</p>
}
else
{
    <h2>Details @Model.ClientDetails.ClientName</h2>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @ViewBag.Message
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientDetails.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientDetails.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientDetails.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientDetails.TeamName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ClientDetails.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ClientDetails.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ClientDetails.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ClientDetails.TeamName)
                </td>
            </tr>

        </table>

        <div>
            @Html.ActionLink(WebUi.Resource.BackToList, "ProjectList", "Project")
        </div>
    </div>

}