@using Microsoft.Ajax.Utilities
@model WebUi.Model.Team.TeamDetailsViewModel

@{
    ViewBag.Title = "DeleteUser";

    if (Session["User"] != null && Session["Role"].ToString() == "Admin")
    {
        Layout = "~/Views/Shared/_Admin_layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_User_layout.cshtml";
    }
}
<br/>
@if (Session["user"] == null)
{
    <p>@Html.ActionLink(@Resource.LoginPlease, "Index", "Login")</p>
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr/>
        <h4><strong>User</strong></h4>

        <div class="form-group">
            <div class="col-md-10">
                @ViewBag.Message
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-warning"/> |
                @Html.ActionLink(WebUi.Resource.BackToList, "TeamList")
            </div>
        }
    </div>
}

